{% extends '_base.html' %}
{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
    <div class="book-detail" style="margin: 5px; background-color: antiquewhite; height: 60vh; padding: 3px 0; border-radius: 8px; box-shadow: 1px 1px 5px 1px gray; width: 35vw;">
        {% if book.cover %}
        <img style="width: 100%; height: 60vh;" class="bookcover" src="{{ book.cover.url}}" alt="{{ book.title }}">
        {% endif %}
    <h2 style="padding-left: 5px;"><a href="" style="color: black;">{{ book.title }}</a></h2>
    <p style="padding-left: 5px;">Author: {{ book.author }}</p>
    <p style="padding-left: 5px;">Price: {{ book.price }}</p>
    </div>
{% endblock content %}